*{ 
    margin: 0;
    padding: 0;
    border: 0;
}
.user{
    text-align: center;
    width: 350px;
    margin: auto;
    margin-top: 30px;
}
  
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F8F9FC; /* Màu nền của toàn bộ trang */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content {
    margin-left: 250px; /* Đảm bảo khoảng cách phù hợp với Sidebar */
    padding: 16px;
    width: 100%;
  }
  .app{
    display: flex;
  }

